<style>
#editArea::-webkit-scrollbar{
  background: gray;
  border-radius: 20px;
}

</style>
<link rel="stylesheet" href="/css/blurBox.css">




<main class="flex flex-col items-center fixed left-0 right-0 top-0 bottom-0 bg-blg gap-3  ">
 <div class="flex flex-col w-full gap-2 ">
  <div class=" h-16 justify-center flex flex-col py-2 text-black bg-blg  px-6 ">
    <div class="flex items-center justify-between  rounded-xl  py-3  ">
     <div class="flex items-center gap-4">
      <a href="/profile"> <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
        <path fill-rule="evenodd" d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z" clip-rule="evenodd" />
      </svg>  </a>
       <h1 class="text-xl">Edit Profile</h1>
      </div>
  
   
    </div>
 
   </div>
 

   <div class="flex flex-col  justify-between items-center px-4 gap-1 " >
    <svg id="profilePic" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 cursor-pointer relative left-12 top-28 text-blf ">
      <path d="M12 9a3.75 3.75 0 1 0 0 7.5A3.75 3.75 0 0 0 12 9Z" />
      <path fill-rule="evenodd" d="M9.344 3.071a49.52 49.52 0 0 1 5.312 0c.967.052 1.83.585 2.332 1.39l.821 1.317c.24.383.645.643 1.11.71.386.054.77.113 1.152.177 1.432.239 2.429 1.493 2.429 2.909V18a3 3 0 0 1-3 3h-15a3 3 0 0 1-3-3V9.574c0-1.416.997-2.67 2.429-2.909.382-.064.766-.123 1.151-.178a1.56 1.56 0 0 0 1.11-.71l.822-1.315a2.942 2.942 0 0 1 2.332-1.39ZM6.75 12.75a5.25 5.25 0 1 1 10.5 0 5.25 5.25 0 0 1-10.5 0Zm12-1.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" />
    </svg>
     <div class="border-2 border-blt rounded-full  overflow-hidden">
      <img id="mainProfile" src="/img/<%= profilePic %>" alt="" class=" h-28 w-28 rounded-full border-2 border-blm "> 
     </div>
   
         <div class=" flex w-full text-sm text-black justify-center flex-col gap-3">
        <div>
          <label for="name" class="">Name</label>
          <input id="name" type="text"  value="<%= name %>"  class= "text-xs bg-blm rounded-md text-black border border-blb py-3 w-full px-2">
        </div>
         <div>
          <label for="bio">Bio</label>
          <textarea id="bio" class=" text-xs  rounded-md bg-blm   overflow-y-scroll   text-black   py-3 border border-blb  w-full  px-2 "><%= bio %></textarea>
         </div>
           </div>
         <div class="flex gap-3 mt-2 w-full justify-end items-center">
          
              <div id="save" class="cursor-pointer w-full  items-center justify-center gap-1  flex bg-blf text-blm px-4 py-3 rounded-md ">
                <h1 class="text-xs">Update</h1>
                </div>
         </div>
   </div>
 </div> 
</main>
<!-- Including Pics Section -->
<%- include('./partials/blurBox.ejs') %>
<%- include('./partials/loader.ejs') %>
<%- include('./partials/chosePic.ejs') %>
<%- include('./partials/warningBox.ejs') %>
<script>


 const name = document.getElementById('name');
 const bio = document.getElementById('bio');
 const profilePic = document.getElementById('profilePic');
 const save = document.getElementById('save');

// profile pic dialog box come
profilePic.addEventListener('click',(event)=>{
  blurIn();
  picBox.classList.add('visible');
  cut.classList.add('visible');
});

// profile pic dialog box out
cut.addEventListener('click',(event)=>{
  blurOut();
  picBox.classList.remove('visible');
  cut.classList.remove('visible');
});

save.addEventListener('click',(event)=>{
let newName = name.value.trim();
let newBio = bio.value.trim();

const content = {name:`${newName}`, bio:`${newBio}`,profilePic:`${newProfilePic}`};
loaderIn();
blurIn();
fetch('/profile/edit',{
  method:'PATCH',
  headers:{
    'Content-Type':'application/json; charset=UTF-8',
    'Accept':'application/json',
  },
  body: JSON.stringify(content)
}).then((data)=>{
  return data.json();
}).then((jsonData)=>{
  if (jsonData.status === "success") {
                       return successBox("Profile Updated",
                            "Your profile has been updated successfully",
                            "/profile")
                       
                    } 
                    else if(jsonData.status === "fail" && jsonData.message === 'notUser') {
                      networkEr("Try Again","We Encountered a Problem with updating your profile",'/profile')
                    }
                    else if(jsonData.status === "fail" && jsonData.message === 'notQuotes') {
                      networkEr("Some Updated","Some linked doucuments still remaning to update , make sure you update again",'/profile')
                    }
                    else if(jsonData.status === "fail" && jsonData.message === 'notMessages') {
                      networkEr("Some Updated","Some linked doucuments still remaning to update , make sure you update again",'/profile')
                    }
                    else if( jsonData.status === "fail" && jsonData.message === "500" ) {
                      networkEr("Try Again","We Encountered a Problem with updating your profile",'/profile')
                    }
}).catch((err)=>{
  networkEr("Try Again","We Encountered a Problem with updating your profile",'/profile')

});

 });

</script>


