

<!-- Messagees Content -->
<main id="wrapper" style="z-index: 1;"
    class="  bg-blm z-0  h-svh top-0 bottom-0 left-0 right-0  flex flex-col justify-between items-center transition-colors duration-500 ease-in-out ">
    <nav class="px-6 py-5 pt-5 space-y-4  w-full ">
        <div class="flex justify-between items-center">
        <h1 class="font-[600] text-blf text-2xl">Wassup</h1>


        </div>
        <div class="flex justify-between  items-center gap-2 text-black">
            <div class="flex justify-start items-center gap-4 border w-10/12 bg-blh rounded-md px-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    class="w-6 text-blt">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>
                <input placeholder="Search Messages..." type="text"
                    class="w-8/12 bg-transparent outline-none  text-blt placeholder:text-blt  py-1">
        
            </div>
           <a  id="navBtn" class="cursor-pointer">
            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-7 text-black">
                <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75H12a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
              </svg>
            </a>
        </div>

    </nav>
    <% if (!friendData.length > 0) { %>

    <div  class=" bg-blm flex flex-col justify-center h-full w-full items-center space-y-3 px-4 fixed top-28 bottom-24 py-2 left-0 right-0 overflow-y-scroll">
   <div class="flex-col flex justify-center items-center mb-44">
    <h1 class="font-[600] text-xl">No messages</h1>
    <p class=" text-blt font-[500]">New messages will appear here</p>
   </div>
    </div>

    <% } %>
    <!-- List of people with whom  user doing chat -->
    <% if (friendData.length > 0) { %>
    <div
        class=" bg-blm flex flex-col space-y-3 px-4 fixed top-28 bottom-24 py-2 left-0 right-0 overflow-y-scroll">
        <% friendData.forEach(friend => { %>
        <% if (friend.state == "connected") { %>
        <div id="<%= friend.chatId %>"
            class="bg-blh border border-blb rounded-xl messageId flex justify-between items-center px-4 py-4 relative ">
            <div class="flex justify-center gap-2">
                <img class="profilePic w-12 h-12 rounded-full"
                    src="/img/<%= friend.profilePic %>"
                    alt="" />
                <div class="flex flex-col items-start justify-center gap-0.5">
                    <h1 class="name text-sm text-black font-semibold">
                        <%= friend.name %>
                    </h1>
                    <div
                        class=" lastText overflow-hidden whitespace-nowrap text-blt text-ellipsis max-w-36 w-36 text-xs ">
                        Would you support me when nobody will come to save me ,
                        Krishna
                    </div>
                </div>
            </div>
            <div class="flex flex-col items-center justify-center gap-0.5">
                <p class="text-xs text-blt font-semibold">12:14</p>
                <div
                    class="bg-blf  rounded-full w-5 h-5 text-center flex items-center justify-center">
                    <p class="text-xs text-white font-sans font-semibold">2</p>
                </div>
            </div>
            <div class="absolute bottom-0 w-4/5  right-1 rounded-full"></div>
        </div>

        
        <% } %>
        
        <% })} %>
    </div>

     

    
</main>
  
<%- include('footer.ejs') %>

<%- include('warningBox.ejs') %>
<%- include('navM.ejs') %>

<script>
// Variable defination


const wrapper = document.getElementById('wrapper')


    const messageIdBtn = document.querySelectorAll('.messageId');
    messageIdBtn.forEach(btn => {
        btn.addEventListener('click', (event) => {
            if (event.target.closest('.messageId')) {
                const messageDiv = event.target.closest(
                    '.messageId');
                const rid = messageDiv.getAttribute('id');
                // getting person name 
                const userNameElement = messageDiv
                    .querySelector('.name');
              
                const name = userNameElement.textContent.trim();
                // getting image name 
                const profilePic = messageDiv.querySelector(
                    '.profilePic');
                let profilePicSrc = profilePic.src;
                profilePicSrc = profilePicSrc.split('/');
                const imageName = profilePicSrc[profilePicSrc
                    .length - 1];

                // create object to store in local Storage
                const localUser = {
                    name: name,
                    profilePic: imageName,
                    rid: rid
                }
                // setting data into local Storage
                setLocalData(localUser);
                alert('data set into localStorgae');
                const data = getLocalData()
                console.log(data);
                window.location.href = `/messages/${rid}`
            }
        })

    })


// logout
logout.addEventListener('click',(event)=>{
    logoutFun();
});

// deleteAccount
deleteAccount.addEventListener('click',(event)=>{
    deleteAccountFun();
});

// 

</script>
<script src="/js/localStorage.js"></script>