

<main style="z-index: 1;" class="h-svh z-10 flex flex-col pb-16  bg-blm">
    <nav class=" px-6 py-5 space-y-4  w-full  z-10 border-b border-b-blb ">
        <div class="flex  justify-between items-center">
        <h1 class="font-[500] text-black text-xl" ><%= navHead %></h1>
      </div>
      </nav>            
    <div id="quoteSection" class="h-full flex flex-col overflow-y-scroll  px-2 py-2 bg-blg gap-1 ">
      <div id="quotCustom" class="hidden flex h-full w-full flex-col justify-center items-center ">
        <div class="flex flex-col justify-center items-center mb-20  ">
         <img src="/bg/quotes.png"  alt="" class="w-32 h-32">
         <h1 class="font-[600] text-xl">No quotes</h1>
         <h1 class="text-blt ">All quotes will appear here</h1>
        </div>
       </div>
       <% allQuotes.forEach(el => { %>
        <div class="quot ps-3  rounded-md bg-blm shadow-sm  border-b-2 border border-blb ">
            <div class="flex w-full flex-col py-3 px-2   " >
                <div class="flex  text-black gap-5 w-full ">
                   <a href="/users/<%= el.wId %>">
                    <img  src="/img/<%= el.wPic %>" alt="" class=" wImage h-12 min-h-12 w-12 min-w-12 rounded-full ring-2  ">

                   </a>
                 
            <div class=" bg- w-full ">
              <div class="flex flex-col justify-center gap-1 ">
                <div class="flex flex-col gap-4">
                  <div 
                  >
                    <a href="/users/<%= el.wId %>" class="text-black font-[500] qHeading" uid="<%= el.wId %>" ><%= el.wName %></a>
                    <p id="quote" qId="<%= el.qId %>" class="">
                     <pre-wrap style="overflow-wrap: anywhere;" class="text-blt text-sm"><%= el.quote %></pre-wrap>
                   </p>
                  </div>
                
                <div class="flex justify-end items-center pt-3 text-blt pb-1 w-full">
                                  
                                  <p class="text-xs">
                                   Posted  <%= el.time %>
                                  </p>
                                </div>
                </div>
                                  
                                  </div>
            </div>
                  
                 
                 
                 </div>
                 
              </div>
            </div>
          
                    <% }) %>

    </div>
   

</main>
<%- include('./partials/footer.ejs') %>
<%- include('./partials/warningBox.ejs') %>


<script>
  const qHeading = document.querySelectorAll('qHeading')
  const wImage = document.querySelectorAll('wImage')


</script>

